# Set this directory as the root directory
config.stopBubbling = true

# Add @Generated annotation to exclude Lombok generated code from test coverage reports
lombok.addLombokGeneratedAnnotation = true

# Disable experimental features
lombok.experimental.flagUsage = error

# Use Java's var instead
lombok.var.flagUsage = error

# Use final var instead
lombok.val.flagUsage = error

# Use try with resources instead
lombok.cleanup.flagUsage = error

# This shouldn't be necessary in most cases
lombok.sneakyThrows.flagUsage = error

# Use Eclipse JDT nullability annotations instead
lombok.nonNull.flagUsage = error

lombok.log.slf4j.flagUsage = error
